.Introduction{
    background-color: #5268E7;
    height: 100vh;
    width: 100vw;
    
}
.Body{
    display: flex;
    height: 70%;
}
.Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.35;
    padding-left: 2%;
}
.Icon{
    height: 85%;
    width: 90%;
    flex: 0.65;
}
.Heading{
    font-size: 5rem;
    margin:0.8px;
}
@media only screen and (max-width: 1060px){
    .Introduction{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-bottom: 5%;
    }
    .Body{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
    .Icon{
        height: 0%;
        width: 0%;
        position: relative;
        flex: 0.5;
    }
    .Heading{
        font-size: 2.3rem;
    }
    .Text{
        width:80%;
    }
}