.Datacard{
    height: 150px;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    border:5px solid rgba(255, 255, 255, 0.301)
}
.Datacard.Red{
    background-color: #F42850;

    
}
.Datacard.Pink{
    background-color: rgb(252, 98, 252);
}
.Datacard.Yellow{
    background-color: rgba(223, 164, 76, 0.932);
}
.Datacard.Green{
    background-color: #1CB142;
    
    
}
.Datacard.Blue{
    background-color: #0841D5;
    
    
}