.Newscard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 400px;
    background-color: rgb(62, 84, 210);
    color: white;
    margin: 1%;
    padding-bottom: 2%;
    border: 5px solid rgb(255, 255, 255,0.7);
    
}
.Image{
   height: auto;
   width:100%;
}
.Imagebg{
    height:auto;
    width: 100%;
}
.Title{
    padding: 0 1%;
}
.Description{
    margin-top: 0;
    padding: 0 1%;
}
.Button{
    border: none;
    background-color:rgba(11, 238, 238, 0.548);
    color:white;
    height: 135%;
    width: 125%;   
}
.Button:hover{
    background-color: black;
    color:rgba(11, 238, 238, 1);
    cursor: pointer;
}


@media screen and (max-width:1060px){

    .Newscard{
        height: 50%;
        width: 80%;
    }
}