.Protect{
    background-color: rgb(87, 152, 236);
    width: 100vw;
    text-align: center;
    padding-top: 1.5%;
    
}
.Heading{
    margin:0;
}
@media only screen and (max-width: 1060px){
    .Protect{
        padding: 5% 0;
    }
}